.App {
  text-align: center;
  position: relative;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: App-logo-spin infinite 20s linear;
  z-index: -1; /* El logo estará detrás del contenido */
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.App-main {
  padding: 20px;
  margin-top: 50px;
}

.nav-links {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.nav-links a:hover {
  text-decoration: underline;
}

@keyframes App-logo-spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}


